body {
    background-color: #f3f5fc;
    font-family: inter;
}

.logo-alura {
    position: fixed;
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
    gap: 40px;
}

/* REVISAR */
.principal {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;

    /* justify-content:stretch; */ /* REVISAR */
    /* align-items: center; */
}

/* AQUÍ COMIENZAN LOS ESTILOS DE LA SECCIÓN IZQUIERDA */
/* ================================================== */
.texto-encriptar {
    width: 680px;
    height: 480px;
    top: 168px;
    left: 180px;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    color: #0b3871;
    padding: 30px;
    background-color: #f3f5fc;
    /* border-style: hidden; */
    border-radius: 24px;
    text-transform: lowercase;
}

::placeholder {
    color: #0b3871;
}

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

.seccion-inferior-izquierda {
    width: 229px;
    height: 18px;
    top: 80px;
    left: 180px;
    display: inline-flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    /* top: 851px; */
}

.etiqueta-texto {
    display: flex;
    position: relative;
    top: 130px;
    width: 330px;
    height: 0;
    left: 0px;
    margin: auto;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #495057;
}

.grupo-botones {
    top: 154px;
    left: 225px;
    width: 680px;
    display: flex;
    position: relative;
    gap: 24px;
    align-items: center;
    justify-content: space-around;

    .btn-encriptar {
        width: 328px;
        padding: 24px;
        border: 1px solid #0a3871;
        border-radius: 24px;
        background-color: #0b3871;
        color: #fff;
    }

    .btn-desencriptar {
        width: 328px;
        padding: 24px;
        border: 1px solid #0a3871;
        border-radius: 24px;
        background-color: #d8dfe8;
        color: #0b3871;
    }
}

.btn-encriptar:hover {
    border-color: #e5e5e5;
    box-shadow: 5px 5px 25px 5px #0a3871;
    transform: scale(1.05);
}

.btn-desencriptar:hover {
    border-color: #f3f5fc;
    box-shadow: 5px 5px 25px 5px #0a3871;
    transform: scale(1.05);
}

/* AQUÍ COMIENZAN LOS ESTILOS DE LA SECCIÓN DERECHA */
/* ================================================ */

.cuadro-texto-respuesta {
    top: 90px;
    left: 220px;
    width: 400px;
    height: 10px; /* REVISAR */
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 24px;
    background-color: #f3f5fc;
    /* 
    background-image: url("./images/Muñeco.png");
    background-repeat:no-repeat; 
    */

    .area-texto-respuesta {
        top: 0px;
        width: 400px;
        height: 730px;
        display: flex;
        padding: 20px; /* ERA DE 25 */
        position: relative;
        border-radius: 24px;
        background-color: #fff;
        /* border-style: hidden; */
        font-size: 24px;
        color: #495057;
        box-sizing: border-box;
        text-transform: lowercase;
    }
}

.no-message-img {
    display: flex;
    position: relative;
    top: -600px;
    left: 0px;
    width: 400px;
    height: 304px;
    object-fit: cover;
}

.no-msg {
    display: flex;
    position: relative;
    flex-direction: column;
    top: -550px;
    left:30px;
    width: 336px;
    height: 122px;
    gap: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    > .no-msg-encontrado {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
    }

    > .no-msg-encontrado-desc {
        font-size: 16px;
        line-height: 24px;
        color: #495057;
    }
}

/* REVISAR AQUÍ */
/* REVISAR AQUÍ */


.no-message-img-cluster {
    width: 100px;
    height:-100 px;
    top: 0;
    left: 0;
}
.cuadro-texto-respuesta {
    width: 100px;
    height: 100px;
    top: 100px;
    left: 250px;
}


/* REVISAR AQUÍ */
/* REVISAR AQUÍ */ 



.btn-copiar {
    display: none;
    position: relative;
    top: 630px;
    left: 300px;
    width: 336px;
    height: 67px;
    color: #0b3871;
    background-color: #fff;
    border: 1px solid #0a3871;
    border-radius: 24px;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.btn-copiar:hover {
    border-color: #0a3871;
    box-shadow: 5px 5px 25px 5px #9eb9dc;
    transform: scale(1.05);
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 10px;
    font-size: 14px;
    color: #e5e5e5;
    justify-content: center;
    align-items: center;
    background-color: #0a3871;

    > .footer-bar {
        display: flex;
        gap: 10px;

        > .year {
            align-content: center;
        }
    }
}

.year {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.socialmedia {
    display: flex;
    position: fixed;
    gap: 20px;
    bottom: 8px;
    right: 30px;

    > a {
        color: #c9c9d4;
    }
}

a:hover {
    transform: scale(2); /* rotate(-10deg); */

    > .fa-envelope:hover {
        color: rgb(255, 166, 0);
    }
    > .fa-twitter {
        color: #188cd8;
    }

    .fa-github {
        color: #141b28;
        background-image: radial-gradient(white 62%, #0a3871 5%, #0a3871 5%);
    }

    .fa-linkedin {
        color: #0b65c2;
        background-image: radial-gradient(
            circle,
            white 65%,
            #0a3871 1%,
            #0a3871 1%
        );
    }
}
