body {
    background-color: #f3f5fc;
    font-family: inter;
}

.logo-alura {
    display: flex;
    position: fixed;
    z-index: -1;
}

.seccion-Uno {
    display: flex;
    position: fixed;
}

.texto-encriptar {
    display: flex;
    position: absolute;
    color: #0b3871;
    background-color: #f3f5fc;
    border-style: none;
    border-radius: 24px;
    text-transform: lowercase;
}

::placeholder {
    color: #0b3871;
}

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

.borrar {
    display: fixed;
    position: absolute;
    border-radius: 10px;
    border: none;
    background-color: #f3f5fc;

    .btn-borrar {
        margin: auto;
        color: #0a3871;
        font-size: 20px;
    }
}

.etiqueta-texto {
    display: flex;
    position: absolute;

    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    font-size: 12px;
    color: #495057;
}

.grupo-botones {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .btn-encriptar {
        border: 1px solid #0a3871;
        border-radius: 24px;
        background-color: #0b3871;
        color: #fff;
        align-content: center;
    }

    .btn-desencriptar {
        padding: 10px;
        border: 1px solid #0a3871;
        border-radius: 24px;
        background-color: #d8dfe8;
        color: #0b3871;
        align-content: center;
    }
}

.btn-encriptar:hover {
    border-color: #e5e5e5;
    box-shadow: 5px 5px 25px 5px #0a3871;
    transform: scale(1.05);
}

.btn-desencriptar:hover {
    border-color: #f3f5fc;
    box-shadow: 5px 5px 25px 5px #0a3871;
    transform: scale(1.05);
}

.seccion-Dos {
    display: flex;
    position: fixed;
}

.cuadro-texto-respuesta {
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.078);

    /* 
    background-image: url("./images/Muñeco.png");
    background-repeat:no-repeat; 
    */

    .area-texto-respuesta {
        display: flex;
        position: relative;
        border-radius: 24px;
        border-style: hidden;
        background-color: #fff;
        color: #495057;
        text-transform: lowercase;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
}

.grupo-imagen {
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    .no-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-items: center;
        justify-content: center;

        > .no-msg-encontrado {
            font-weight: bold;
        }

        > .no-msg-encontrado-desc {
            color: #495057;
        }
    }
}

.btn-copiar {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #0b3871;
    background-color: #fff;
    border: 1px solid #0a3871;
    border-radius: 24px;
}

.btn-copiar:hover {
    border-color: #0a3871;
    box-shadow: 5px 5px 25px 5px #9eb9dc;
    transform: scale(1.05);
}

.alerta-copiado,
.alerta-cifrado,
.alerta-descifrado {
    display: none;
    position: fixed;
    z-index: 1;
    border-radius: 10px;
}

footer {
    display: flex;
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
    color: #e5e5e5;
    align-items: center;
    background-color: #0a3871;

    > .footer-bar {
        display: flex;
        line-height: 0px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 0px;

        > .year {
            align-content: center;
        }

        > a {
            color: #e5e5e5;
        }

        > a:link {
            text-decoration: none;
        }
    }
}

.year {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.socialmedia {
    display: flex;
    position: fixed;
    bottom: auto;
    right: 30px;
    margin: auto;

    > a {
        color: #c9c9d4;
    }

    > a:hover {
        transform: scale(2); /* rotate(-10deg); */

        > .fa-envelope:hover {
            color: rgb(255, 166, 0);
        }

        > .fa-twitter {
            color: #188cd8;
        }

        .fa-github {
            color: #141b28;
            background-image: radial-gradient(
                white 62%,
                #0a3871 5%,
                #0a3871 5%
            );
        }

        .fa-linkedin {
            color: #0b65c2;
            background-image: radial-gradient(
                circle,
                white 63%,
                #0a3871 1%,
                #0a3871 1%
            );
        }
    }
}

/* SUPER EXTRA LARGE DEVICES (LARGE LAPTOPS AND DESKTOPS, 1650PX AND UP) */
@media only screen and (min-width: 1650px) {
    .logo-alura {
        width: 120px;
        height: 48px;
        top: 20px;
        left: 0;
        z-index: 1;
    }

    .alerta-copiado,
    .alerta-cifrado,
    .alerta-descifrado {
        top: 25px;
        right: 0px;
        width: 500px;
        height: 50px;
        font-size: 18px;
    }

    .seccion-Uno {
        display: inline-block;
        top: 0;
        left: 0;
        width: 55vw;
        height: 100vh;
    }

    .texto-encriptar {
        width: 45vw;
        height: 480px;
        top: 11vh;
        left: 10vw;
        padding: 30px;
        font-size: 24px;
        line-height: 24px;
    }

    .borrar {
        top: 75vh;
        left: 50vw;
    }

    .etiqueta-texto {
        top: 77vh;
        left: 10vw;
        width: 330px;
        margin: 0;
    }

    .grupo-botones {
        position: absolute;
        justify-content: flex-start;
        left: 10vw;
        top: 85vh;
        width: 100%;
        height: 0;
        gap: 5%;

        .btn-encriptar {
            width: 20vw;
            padding: 24px;
        }

        .btn-desencriptar {
            width: 20vw;
            padding: 24px;
        }
    }

    .seccion-Dos {
        display: inline-block;
        top: 0;
        left: 55vw;
        width: 50vw;
        height: 100vh;
    }

    .cuadro-texto-respuesta {
        position: absolute;
        top: 45px;
        left: 15vh;
        width: 28vw;
        height: 87%;

        .area-texto-respuesta {
            position: absolute;
            top: 0px;
            left: 0%;
            width: 28vw;
            height: 530px;
            padding: 25px;
            line-height: 24px;
            font-size: 24px;
        }
    }

    .grupo-imagen {
        display: inline-block;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 70%;

        .info-img {
            top: 100px;
            left: 0;
            width: 100%;
            height: 70%;
            object-fit: contain;
        }

        .no-msg {
            width: 28vw;
            height: 30%;
            gap: 10px;

            > .no-msg-encontrado {
                width: 25vw;
                font-size: 24px;
                line-height: 29px;
            }

            > .no-msg-encontrado-desc {
                width: 25vw;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .btn-copiar {
        position: absolute;
        top: 87%;
        width: 23vw;
        padding: 25px;
    }

    footer {
        padding: 10px;
        font-size: 14px;
        justify-content: center;
    }

    .socialmedia {
        gap: 20px;

        > a {
            color: #c9c9d4;
        }
    }
}

/* SUPER EXTRA LARGE DEVICES (LARGE LAPTOPS AND DESKTOPS, 1200PX AND DOWN) */
/* @media only screen and (max-width: 1200px) {
    .logo-alura {
        width: 120px;
        height: 48px;
        top: 20px;
        left: 0;
        z-index: 1;
    }

    .alerta-copiado,
    .alerta-cifrado,
    .alerta-descifrado {
        top: 25px;
        right: 0px;
        width: 500px;
        height: 50px;
        font-size: 18px;
    }

    .seccion-Uno {
        display: inline-block;
        top: 0;
        left: 0;
        width: 55vw;
        height: 100vh;
    }

    .texto-encriptar {
        width: 45vw;
        height: 480px;
        top: 11vh;
        left: 10vw;
        padding: 30px;
        font-size: 24px;
        line-height: 24px;
    }

    .borrar {
        top: 75vh;
        left: 50vw;
    }

    .etiqueta-texto {
        top: 77vh;
        left: 10vw;
        width: 330px;
        margin: 0;
    }

    .grupo-botones {
        position: absolute;
        justify-content: flex-start;
        left: 10vw;
        top: 85vh;
        width: 100%;
        height: 0;
        gap: 5%;

        .btn-encriptar {
            width: 20vw;
            padding: 24px;
        }

        .btn-desencriptar {
            width: 20vw;
            padding: 24px;
        }
    }

    .seccion-Dos {
        display: inline-block;
        top: 0;
        left: 55vw;
        width: 50vw;
        height: 100vh;
    }

    .cuadro-texto-respuesta {
        position: absolute;
        top: 45px;
        left: 8vh;
        width: 30vw;
        height: 87%;

        .area-texto-respuesta {
            position: absolute;
            top: 0px;
            left: 0%;
            width: 30vw;
            height: 530px;
            padding: 25px;
            line-height: 24px;
            font-size: 24px;
        }
    }

    .grupo-imagen {
        display: inline-block;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 70%;

        .info-img {
            top: 100px;
            left: 0;
            width: 100%;
            height: 70%;
            object-fit: contain;
        }

        .no-msg {
            width: 30vw;
            height: 30%;
            gap: 10px;

            > .no-msg-encontrado {
                width: 25vw;
                font-size: 24px;
                line-height: 29px;
            }

            > .no-msg-encontrado-desc {
                width: 25vw;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .btn-copiar {
        position: absolute;
        top: 87%;
        width: 23vw;
        padding: 25px;
    }

    footer {
        padding: 10px;
        font-size: 14px;
        justify-content: center;
    }

    .socialmedia {
        gap: 20px;

        > a {
            color: #c9c9d4;
        }
    }
} */

/* SUPER EXTRA LARGE DEVICES (LARGE LAPTOPS AND DESKTOPS, 1200PX AND UP) */
@media only screen and (max-width: 1649px) {
    .logo-alura {
        width: 120px;
        height: 48px;
        top: 20px;
        left: 0;
        z-index: 1;
    }

    .alerta-copiado,
    .alerta-cifrado,
    .alerta-descifrado {
        top: 25px;
        right: 0px;
        width: 500px;
        height: 50px;
        font-size: 18px;
    }

    .seccion-Uno {
        display: inline-block;
        top: 0;
        left: 0;
        width: 55vw;
        height: 100vh;
    }

    .texto-encriptar {
        width: 45vw;
        height: 480px;
        top: 11vh;
        left: 10vw;
        padding: 30px;
        font-size: 24px;
        line-height: 24px;
    }

    .borrar {
        top: 75vh;
        left: 50vw;
    }

    .etiqueta-texto {
        top: 77vh;
        left: 10vw;
        width: 330px;
        margin: 0;
    }

    .grupo-botones {
        position: absolute;
        justify-content: flex-start;
        left: 10vw;
        top: 85vh;
        width: 100%;
        height: 0;
        gap: 5%;

        .btn-encriptar {
            width: 20vw;
            padding: 24px;
        }

        .btn-desencriptar {
            width: 20vw;
            padding: 24px;
        }
    }

    .seccion-Dos {
        display: inline-block;
        top: 0;
        left: 55vw;
        width: 50vw;
        height: 100vh;
    }

    .cuadro-texto-respuesta {
        position: absolute;
        top: 45px;
        left: 8vh;
        width: 30vw;
        height: 87%;

        .area-texto-respuesta {
            position: absolute;
            top: 0px;
            left: 0%;
            width: 30vw;
            height: 530px;
            padding: 25px;
            line-height: 24px;
            font-size: 24px;
        }
    }

    .grupo-imagen {
        display: inline-block;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 70%;

        .info-img {
            top: 100px;
            left: 0;
            width: 100%;
            height: 70%;
            object-fit: contain;
        }

        .no-msg {
            width: 30vw;
            height: 30%;
            gap: 10px;

            > .no-msg-encontrado {
                width: 25vw;
                font-size: 24px;
                line-height: 29px;
            }

            > .no-msg-encontrado-desc {
                width: 25vw;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .btn-copiar {
        position: absolute;
        top: 87%;
        width: 23vw;
        padding: 25px;
    }

    footer {
        padding: 10px;
        font-size: 14px;
        justify-content: center;
    }

    .socialmedia {
        gap: 20px;

        > a {
            color: #c9c9d4;
        }
    }
}

/* LARGE DEVICES (LAPTOPS/DESKTOPS, 1024PX AND DOWN) */
@media only screen and (max-width: 1024px) {
    .logo-alura {
        width: 120px;
        height: 48px;
        top: 20px;
        left: 0;
        z-index: 1;
    }

    .alerta-copiado,
    .alerta-cifrado,
    .alerta-descifrado {
        top: 25px;
        right: 0px;
        width: 500px;
        height: 50px;
        font-size: 18px;
    }

    .seccion-Uno {
        display: inline-block;
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vh;
    }

    .texto-encriptar {
        width: 100%;
        height: 480px;
        top: 11vh;
        left: 2vw;
        padding: 30px;
        font-size: 24px;
        line-height: 24px;
    }

    .borrar {
        top: 77vh;
        left: 45vw;
    }

    .etiqueta-texto {
        top: 77vh;
        left: 2vw;
        width: 330px;
        margin: 0;
    }

    .grupo-botones {
        position: absolute;
        left: 30px;
        top: 85vh;
        width: 100%;
        height: 0;
        gap: 5%;

        .btn-encriptar {
            width: 24vw;
            padding: 24px;
        }

        .btn-desencriptar {
            width: 24vw;
            padding: 24px;
        }
    }

    .seccion-Dos {
        display: inline-block;
        top: 0;
        left: 50vw;
        width: 50vw;
        height: 100vh;
    }

    .cuadro-texto-respuesta {
        top: 45px;
        left: 8vh;
        width: 40vw;
        /* height: 760px; */
        height: 87%;

        .area-texto-respuesta {
            top: 0px;
            left: 0%;
            width: 40vw;
            /* height: 760px; */
            height: 80%;
            padding: 25px;
            line-height: 24px;
            font-size: 24px;
        }
    }

    .grupo-imagen {
        display: inline-block;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        height: 70%;

        .info-img {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 60%;
            object-fit: contain;
        }

        .no-msg {
            width: 40vw;
            height: 122px;
            gap: 10px;

            > .no-msg-encontrado {
                width: 35vw;
                font-size: 24px;
                line-height: 29px;
            }

            > .no-msg-encontrado-desc {
                width: 35vw;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .btn-copiar {
        position: absolute;
        top: 660px;
        width: 24vw;
        padding: 24px;
    }

    footer {
        padding: 10px;
        font-size: 14px;
        justify-content: center;
    }

    .socialmedia {
        gap: 20px;

        > a {
            color: #c9c9d4;
        }
    }
}

/* MEDIUM DEVICES (LANDSCAPE TABLETS, 768PX AND DOWN) */
@media only screen and (max-width: 768px) {
    .logo-alura {
        top: 20px;
        left: -20px;
        width: 100px;
        height: 35px;
    }

    .seccion-Uno {
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
    }

    .texto-encriptar {
        left: 10vw;
        top: 55px;
        width: 80vw;
        height: 200px;
        font-size: 24px;
        line-height: 18px;
        color: #0b3871;
        padding: 30px;
        font-size: 20px;
        line-height: 20px;
    }

    .borrar {
        top: 280px;
        left: 80%;
        width: 50px;
        height: 50px;

        .btn-borrar {
            font-size: 20px;
        }
    }

    .etiqueta-texto {
        left: 10vw;
        top: 280px;
        width: 80vw;
        height: 0;
    }

    .grupo-botones {
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        top: 70%;
        left: 0;
        height: 130px;
        width: 80vw;

        .btn-encriptar {
            width: 35vw;
            height: 60px;
            padding: 10px;
        }

        .btn-desencriptar {
            width: 35vw;
            height: 60px;
            padding: 10px;
        }
    }

    .seccion-Dos {
        top: 50%;
        left: 0;
        width: 100%;
        height: 50vh;
    }

    .cuadro-texto-respuesta {
        width: 80vw;
        height: 30vh;
        left: 10vw;
        top: 10vw;

        .area-texto-respuesta {
            width: 100%;
            height: 68%;
            left: 0%;
            top: -16%;
            padding: 25px;
            font-size: 20px;
            line-height: 20px;
        }
    }

    .grupo-imagen {
        width: 100%;
        height: 100%;
        top: 0;

        .no-msg {
            width: 100%;
            height: 100%;
            gap: 5px;

            > .no-msg-encontrado {
                width: 100%;
                font-size: 20px;
                line-height: 24px;
            }

            > .no-msg-encontrado-desc {
                width: 100%;
                font-size: 20px;
                line-height: 20px;
            }
        }
    }

    .btn-copiar {
        top: 70%;
        width: 35vw;
        height: 60px;
        padding: 10px;
    }

    .alerta-copiado,
    .alerta-cifrado,
    .alerta-descifrado {
        top: 0px;
        width: 100%;
        height: 60px;
        right: 0px;
        font-size: 20px;
    }

    footer {
        padding: 10px;
        font-size: 14px;
        justify-content: center;
    }

    .socialmedia {
        gap: 20px;
    }

    .info-img {
        display: none;
    }
}

/* IPHONE SE DEVICES (PHONES, 320PX AND DOWN) */
@media only screen and (max-width: 425px) {
    .logo-alura {
        width: 100px;
        height: 35px;
        top: 20px;
        left: -20px;
        width: 100px;
        height: 35px;
    }

    .seccion-Uno {
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
    }

    .texto-encriptar {
        left: 10vw;
        top: 55px;
        width: 80vw;
        height: 120px;
        font-size: 18px;
        line-height: 18px;
        padding: 30px;
    }

    .borrar {
        top: 10px;
        left: 85%;
        width: 50px;
        height: 50px;
    }

    .etiqueta-texto {
        left: 10vw;
        top: 200px;
        width: 80vw;
        height: 0;
    }

    .grupo-botones {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        top: 60%;
        left: 0;
        height: 130px;
        width: 80vw;

        .btn-encriptar {
            width: 75vw;
            height: 60px;
            padding: 10px;
        }

        .btn-desencriptar {
            width: 75vw;
            height: 60px;
            padding: 10px;
        }
    }

    .seccion-Dos {
        top: 50%;
        left: 0;
        width: 100%;
        height: 50vh;
    }

    .cuadro-texto-respuesta {
        width: 80vw;
        height: 30vh;
        left: 10vw;
        top: 15vw;

        .area-texto-respuesta {
            width: 100%;
            height: 68%;
            left: 0%;
            top: -16%;
            padding: 25px;
            font-size: 18px;
            line-height: 19px;
        }
    }

    .grupo-imagen {
        width: 100%;
        height: 100%;
        top: 0;

        .no-msg {
            width: 100%;
            height: 100%;
            gap: 5px;

            > .no-msg-encontrado {
                width: 100%;
                font-size: 20px;
                line-height: 20px;
            }

            > .no-msg-encontrado-desc {
                width: 100%;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }

    .btn-copiar {
        top: 72%;
        width: 75vw;
        height: 60px;
        padding: 10px;
    }

    .alerta-copiado,
    .alerta-cifrado,
    .alerta-descifrado {
        top: 0px;
        width: 100%;
        height: 40px;
        right: 0px;
        font-size: 16px;
    }

    footer {
        justify-content: flex-start;
        padding: 10px;
        font-size: 12px;

        > .footer-bar {
            > a {
                display: none;
            }
        }
    }

    .socialmedia {
        gap: 15px;
    }

    .info-img {
        display: none;
    }
}
