body {
    background-color: #e5e5e5;
    font-family: inter;
}

.logo-alura {
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.texto-encriptar {
    position: absolute;
    /* width: 557px; */
    /* height: 48px; */
    width: 680px;
    height: 467px;
    left: 240px;
    top: 168px;
    font-size: 32px;
    color: #0b3871;
    background-color: #e5e5e5;
    border-style: hidden;
    text-transform: lowercase;
}

::placeholder {
    color: #0b3871;
}

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

.etiqueta-texto {
    position: absolute;
    left: 240px;
    top: 651px;
    width: 329px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #495057;
}

.grupo-botones {
    display: flex;
    position: absolute;
    left: 240px;
    top: 685px;
    width: 680px;
    gap: 24px;
    /* height: 67px; */
    /* padding: 0px; */
    /* flex-direction: row; */
}

.btn-encriptar {
    width: 328px;
    padding: 24px;
    background-color: #0b3871;
    color: #fff;
    border: 1px solid #0a3871;
    border-radius: 24px;
}

.btn-encriptar:hover {
    border-color: #e5e5e5;
    box-shadow: 5px 5px 25px 5px #0a3871;
    transform: scale(1.05);
}

.btn-desencriptar {
    width: 328px;
    padding: 24px;
    background-color: #d8dfe8;
    color: #0b3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
}

.btn-desencriptar:hover {
    border-color: #e5e5e5;
    box-shadow: 5px 5px 25px 5px #0a3871;
    transform: scale(1.05);
}

.cuadro-texto-respuesta {
    position: absolute;
    left: 1032px;
    top: 40px;
    width: 400px;
    /* height: 725px; */
    height: 745px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    
    /* 
    background-image: url("./images/MunÌƒeco.png");
    background-repeat:no-repeat; 
    */
}

.area-texto-respuesta {
    position: fixed;
    left: 1032px;
    top: 70px;
    width: 400px;
    height: 580px;
    border-style: none;
    text-transform: lowercase;
    font-size: 24px;
    background-color: #fff;
    color: #495057;
    text-align: left;
    padding: 50px;
    border-radius: 24px;
}

.no-message-img {
    position: absolute;
    left: 1062px;
    top: 183px;
    /* top: 283px; */
    /* height: 30%;
    width: 20%; */
    width: 336px;
    height: 304px;
    color: #0a3871;
    object-fit: cover;
}

.no-msg {
    position: absolute;
    width: 336px;
    height: 122px;
    left: 1062px;
    top: 499px;
    /* top: 619px; */
    gap: 16px;
    text-align: center;

    > .no-msg-encontrado {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        /* text-align: center; */
    }

    > .no-msg-encontrado-desc {
        flex: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* text-align: center; */
        color: #495057;
    }
}

.btn-copiar {
    display: flex;
    position: absolute;
    /* left: 1032px; */
    left: 1069px;
    top: 682px;
    /* top: 885px; */
    width: 336px;
    height: 67px;
    color: #0b3871;
    background-color: #fff;
    border: 1px solid #0a3871;
    border-radius: 24px;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.btn-copiar:hover {
    border-color: #0a3871;
    box-shadow: 5px 5px 25px 5px #9eb9dc;
    transform: scale(1.05);
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #0a3871;
    width: 100vw;
    color: #e5e5e5;
    font-size: 14px;
    gap: 20px;
}

footer p {
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.socialmedia {
    display: flex;
    position: fixed;
    gap: 20px;
    bottom: 8px;
    right: 30px;

    > a {
        color: #c9c9d4;
    }
}

a:hover {
    /* rotate(-10deg); */
    transform: scale(2);

    .fa-envelope:hover {
        color: rgb(255, 166, 0);
    }
    .fa-twitter {
        color: #188cd8;
    }

    .fa-github {
        color: #141b28;
        background-image: radial-gradient(white 62%, #0a3871 5%, #0a3871 5%);
    }

    .fa-linkedin {
        color: #0b65c2;
        background-image: radial-gradient(
            circle,
            white 65%,
            #0a3871 1%,
            #0a3871 1%
        );
    }
}
